@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    font-family: 'VT323', monospace;
    font-size: 32px;
    background-color: lightsteelblue;
    cursor: cell;
    stroke: black;
    fill: #92a0b9;
}
pre {
    font: 24px 'VT323';
    margin: 0.5em 0px;
}
body.darkmode {
    background-color: #243a5f;
    color: white;
    stroke: white;
    fill: #243a5f;
}
.box.darkmode {
    background-color: #1f1f1f;
}
.field.darkmode {
    background-color: #474a53;
    color: white;
}
.canvas.darkmode {
    background-color: #333333;
}

.container {
    display: grid;
    gap: 30px;
    padding: 20px;
    justify-content: center;
}

.sidebar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-image: url(border.svg) 34% stretch;
    transform: translate(0px, -30px);
    z-index: -1;
}
.sidebar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: slategray;
    gap: 20px;
    padding: 20px 0px;
}
    .palette{
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        width: 90%;
        height: 20vw;
        background-color: black;
        gap: 2.5px;
        padding: 2.5px;
        flex-shrink: 0;
    }
        .button {
            border: 1px solid darkslategray;
        }
        .button:hover {
            outline: 4px solid blue;
            z-index: 10;
        }
        .activeColor {
            outline: 4px solid blue;
            z-index: 10;
        }
    .verbBox::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: solid transparent;
        border-width: 10px 15px 20px 15px;
        border-image: url(border2.svg) 10 15 20 15 stretch;
        transform: translate(-15px, -10px);
    }
    .verbBox {
        position: relative;
        display: flex;
        width: 80%;
    }
        .context {
            flex-grow: 1;
            min-width: fit-content;
            text-align: center;
        }
            #person::before {
                content: "wer:  ";
            }
            #verb::before {
                content: "was:  ";
            }
            #tense::before {
                content: "wenn: ";
            }
            #context::before {
                content: "wie:  ";
            }
    .hintbox::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: solid transparent;
        border-width: 10px 15px 20px 15px;
        border-image: url(border2.svg) 10 15 20 15 stretch;
    }
    .hintbox {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 80%;
    }
        .hintcontent {
            display: none;
            flex-direction: row;
            width: 80%;
            justify-content: space-around;
            overflow-y: scroll;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
        }
        .hintcontent::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }

.textBoxContainer::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-image: url(border.svg) 34% stretch;
    transform: translate(-10px, -10px);
    z-index: -1;
}
.textBoxContainer {
    position: relative;
    width: 100%;
}
    .textBox {
        width: -webkit-fill-available;
        height: 3em;
        font-family: 'VT323', monospace;
        font-size: 32px;
        background-color: darkgray;
        border: none;
    }
    .textBox:focus {
        outline: none;
    }

.toolbox::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-image: url(border.svg) 34% 34% 34% 34% stretch;
    transform: translate(0px, -10px);
}
.toolbox {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: slategray;
}
    .subtoolbox {
        display: flex;
        padding: 1%;
    }
        .toolbarButton {
            width: 100%;
            border: 0px solid transparent;
            padding: 0px 0px;
            background-color: transparent;
            outline: transparent;
        }
        .toolbarButtonSVG{
            width: 50px;
            height: 55px;
        }
        .buttonBackground{
            stroke: #92a0b9;
        }
        .buttonBackground:hover{
            stroke: #a3b3ce;
        }
        .buttonIcon{
            stroke: black;
        }

.canvasAreaBorder::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-image: url(border.svg) 34% stretch;
    transform: translate(-10px, -10px);
    z-index: -1;
}
.canvasAreaBorder{
    position: relative;
}
    .canvasArea {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
        background-color: darkgray;
        flex-grow: 1;
    }
        .canvas {
            display: grid;
            grid-template-columns: repeat(32, 1fr);
            width: 95vw;
            aspect-ratio: 1 / 1;
            background-color: whitesmoke;
            outline: 5px solid dimgray;
        }
            .pixel {
                border: 1px solid black
            }
            .pixel.hovered {
                outline: 2px solid red;
                z-index: 10;
            }

@media screen and (orientation: landscape) {
    .container {
        grid-template-areas: 
            "side tool canvas"
            "side text text";
        grid-template-rows: 1fr 150px;
        grid-template-columns: 270px 35px 1fr;
        height: 92vh;
    }
    
    .sidebar {
        grid-area: side;
    }
        .palette {
            aspect-ratio: 1/1;
            height: auto;
            grid-template-columns: repeat(8, 1fr);
        }
        .verbBox {
            flex-direction: column;
        }

    .toolbox::before{
        transform: translate(-10px, -10px);
    }
    .toolbox {
        grid-area: tool;
        flex-direction: column;
        justify-content: initial;
    }
        .subtoolbox {
            display: grid;
            grid-row-gap: 5px;
            padding-bottom: 10px;
            padding-top: 5px;
        }
        .toolbarButtonSVG{
            width: 30px;
            height: 33px;
        }
    .hintcontent {
        flex-direction: column;
    }

    .canvasAreaBorder {
        grid-area: canvas;
    }
        .canvas {
            --scale: 100%;
            scale: var(--scale);
            width: auto;
            height: 95%;
        }

    .textBoxContainer{
        grid-area: text;
    }
    .textBox{
        height: 100%;
    }

    #referenceWindow {
        position: absolute;
        width: 300px;
        height: 320px;
        background-color: cornflowerblue;
    }
            #closeButton {
            font-size: 1em;
            font-family: 'Courier New', Courier, monospace;
            position: absolute;
            right: 0px;
            background-color: red;
            font-weight: bold;
            color: white;
        }
        #closeButton::after {
            content: "x";
        }
        #referenceArea {
            overflow: auto;
            width: 300px;
            height: 300px;
            position: absolute;
            top: 20px;
            background-color: whitesmoke;
        }
        #reference {
            width: 150px;
            height: 150px;
            outline: 1px auto black;
            position: relative;
            top: 25%;
            left: 25%;
            background-color: white;
        }
}

[title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
}
#hint[title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    z-index: 10;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    width: max-content;
    padding: 3px;
    font-size: 70%;
}